<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pricingextrameta</name>
	<displayName><![CDATA[Pricing Extra Meta]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Share extra information about your product pricing.]]></description>
	<author><![CDATA[TheEnumbin]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
