.infofield-wrapper .infofield-product-meta{
                        padding: 12px  !important;
                        font-size: 16px !important;
                        color: #01008b !important;
                        background: #00ee9f !important;
                    }
                    
                    .infofield-wrapper .infofield-category-meta{
                        padding:  !important;
                        font-size:  !important;
                        color:  !important;
                        background:  !important;
                    }
                    