<div class="form-group row mt-3">
    <div class="col-sm">
        <div>
            <figure class="figure">
                <img src="{{ imageUrl }}" class="figure-img img-fluid img-thumbnail">
            </figure>
            <div class="d-block">
            </div>
        </div>
    </div>
</div>